* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: darkgrey;
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 10%;
}

div {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  text-align: justify;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}
